*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,blue, violet);
}
.header{
    display: flex;
    justify-content: end;
    height: 160px;
    background: linear-gradient(to right,blue, violet);
}
.header_text{
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
}
.header_logo{
    padding-top: 2%;
    margin-right: 10%;
}
.hero_card{
    margin: 3%;
    border: 3px solid rgb(56, 56, 179);
    outline: solid 6px #888;
    border-radius: 5%;
    padding: 2%;
    /* background-color:rgb(194, 210, 235);*/
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1.5px;
    font-size: 1.1em;
    cursor: pointer;
    /*position: relative;*/
}
.front img{
    padding-top: 4%;
    width: 100%;
}
.front h2{
    text-align: center;
    padding-bottom: 3%;
}
.hero_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.back-content{
    text-align: center;
}
.front,
.back{
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
    /*position: absolute;*/
}
.front{
    text-align: center;
    transform: perspective(600px) rotateY(0deg);
}
.back{
    transform: perspective(600px) rotateY(180deg);
}
.hero_card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.hero_card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.rating {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
    margin-top: 10px;
}
.rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #c4c2c28e;
    pointer-events: none;
}
.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
}
.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}